# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\PE_PRJ321\math-util\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
